:root {
  --primary-color: #10e68e;
  --secondary-color: #10e68e;
  --background: #b8ffe7;
  --background-alternative: #5af3c0;
  --highlight: #a4fff2;
}

html, body, #app {
    background-color: var(--background);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}